pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "vFiles",
					"value": [
						"colors",
						"inventories",
						"inventory_parts",
						"part_categories",
						"parts",
						"sets",
						"themes"
					]
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@pipeline().parameters.vLoadAllFiles",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "vFiles",
								"value": "inventory_sets"
							}
						},
						{
							"name": "Append variable2",
							"description": "",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "vFiles",
								"value": "part_relationships"
							}
						}
					]
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "vListOfFiles",
					"value": {
						"value": "load @{length(variables('vFiles'))} files: @{join(variables('vFiles'),' ,')}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"vLoadAllFiles": {
				"type": "bool"
			}
		},
		"variables": {
			"vFiles": {
				"type": "Array"
			},
			"vListOfFiles": {
				"type": "String"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}